body{
    font-family:'Lato',Arial, Helvetica, sans-serif;
}

.container{
    width:1600px;
    margin:0 auto;
}
.wrapper{
    height: 100px;
    padding-left:230px;
    padding-right:230px;
    margin: 0 auto;
    display:flex;
    align-items: center;
}
.logo{
    text-transform: uppercase;
    display:flex;
    align-items: center;
}
.main-logo-img{
    margin-right:13px;
}
.logo-link{
    display: flex;
    align-items: center;
    text-decoration:none;
    font-style: normal;
    text-align: center;
    color: #222222;
    font-size: 1.688rem;
    font-weight: 300;
}
.pink-d{
    color:pink;
}
.search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 38px;
}
.search *{
    height:inherit;
}
.search-form{
    width: 317px;
    height: 36px;
    padding:0;
    border: 0.063rem solid #e6e6e6;
    border-left: none;
    padding-left:13px;
}
.search-form:focus{
    outline-style: none;
}
.search-button{
    width: 36px;
    text-align: center;
    line-height: 36px;
    color:grey;
    border-radius: 0 0.188rem 0.188rem 0;
    border: 0.063rem solid #e6e6e6;
    background-color: #ffffff;
    border-left:none;
}
.search-button i:hover{
    font-weight: bold;;
}
.search-button:focus{
    outline-style: none;
}
.search-dropdown{
    text-align: right;
    color: #222222;
    font-size: 0.875rem;
    font-weight: 300;
    border-radius: 0.188rem 0 0 0.188rem;
    border: 0.063rem solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    margin-left:37px;
}
.search-dropdown:focus{
    outline-style: none;
}
.account{
    display: flex;
}
.account-button{
    margin-left:26px;
    background-color: #f16d7f;
    border-style: none;
    width: 130px;
    height: 38px;
    color:white;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    font-size: 0.938rem;
    font-weight: 400;
    text-transform: capitalize;
}
.account-button:hover{
    box-shadow: 0 0.313rem 0.5rem rgba(0, 0, 0, 0.16);
}
.account-button i{
    margin-left: 8px;
}
.account-button:focus{
    outline-style:none;
}

.header-line{
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.17);
    border: 0.063rem solid #ececec;
    background-color: #ffffff;
}
.nav-wrapper{
    margin:0 auto;
    width:100%;
    height: 51px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.nav-list{
    padding:0;
    margin:0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-list-item{
    text-align: center;
    align-items:center;
}
.nav-link{
    text-decoration:none;
    display: block;
    margin-right:46px;
    text-align: center;
    line-height: 51px;
    text-transform: uppercase;
    text-align: left;
    color: #222222;
    font-size: 0.875rem;
    font-weight: 700;
}
.main-promo{
    display: flex;
    flex-basis: 100%;
    width: 100%;
    background-color:#e8e8e8;
    background-image: url("/img/main-promo.png");
    background-position: center;
    background-repeat: no-repeat;
}
.promo-wrapper{
    width:100%;
    margin:0 auto;
    height: 665px;
    display: flex;
    align-items: center;
}
.promo-header{
    margin:0;
    text-transform: uppercase;
    color: #222222;
    font-size: 2.5rem;
    font-weight: 400;
    font-weight: bold;
    border-left: 12px solid #f16d7f;
    line-height:  2.5rem;
    margin-left:242px;
}
.top-part{
    font-size: 3.75rem;
    letter-spacing: 0.094rem;
}
.pink-tail{
    color: #f16d7f;
    letter-spacing: 0.063rem;
}
.cat-wrapper{
    display: flex;
    justify-content: center;
    margin-top:98px;
}

.c-men,.c-kids{
    height: 492px;
    width: 560px;
    background-repeat:no-repeat;
}
.c-women,.c-accessories{
    width: 560px;
    height: 211px;
    background-repeat:no-repeat;
}
.c-accessories{
    background-image:url("/img/c-accessories.png");
    background-color:#dadad2;
}
.c-women{
    background-image:url("/img/c-woman.png");
}
.c-men{
    background-image:url("/img/c-man.png");
}
.c-kids{
    background-image:url("/img/c-kids.png");
}
.c-link{
    display: flex;
    padding-top:26px;
    text-decoration:none;
    color: #222222;
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
}
.c-link:nth-child(2n+1){
    margin-right:21px;
    margin-bottom:21px;
}
.cat-header{
    display: flex;
    height: 82px;
    flex-flow: column;
    flex-basis: 82px;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    padding-left:18px;
    padding-right:18px;

    font-weight: bolder;
    white-space: nowrap;
}
.cat-pink{
    color: #f16d7f;
    font-size: 1.875rem;
    letter-spacing: 0.047rem;
}
.main-cat-col-2,.main-cat-col-1{
    display: flex;
    flex-flow:column;
}
.feat-wrapper{
    height: 1100px;
    margin:0 auto;
    display: flex;
    flex-flow:column;
    align-items: center;
    margin-bottom:100px;
}
.feat-header{
    text-align: center;
    margin-top:100px;
}
.f-sub-header{
    color: #9f9f9f;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom:60px;
}
.f-main-header{
    margin:0;
    color: #222222;
    font-size: 1.875rem;
    font-weight: 700;
    line-height:54px;
}
.f-products{
    display: flex;
    flex-wrap:wrap;
    width: 1142px;
}
.f-product-link{
    text-decoration:none;
    margin-bottom:39px;
}
.f-product-link:hover{
    box-shadow: 0 0.313rem 0.5rem rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.f-product-link:not(:nth-child(4n)){
    margin-right:32px;
}
.f-product-header{
    text-align: left;
    color: #222222;
    font-size: 0.813rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-left:14px;
}
.p-price{
    color: #f16d7f;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-left:14px;
    margin-bottom:21px;
}
.pink-btn{
    display: inline-block;
    height: 48px;
    width: 212px;
    padding:0;
    border: none;
    background-color: #f16d7f;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.pink-btn:focus{
    outline-style:none;
}
.pink-btn:hover{
    box-shadow: 0 0.313rem 0.5rem rgba(0, 0, 0, 0.16);
}
.pink-btn i{
    margin-left:9px;
}
