body{
    font-family:'Lato',Arial, Helvetica, sans-serif;
}

.container{
    width:1600px;
    margin:0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.wrapper{
    height: 100px;
    padding-left:230px;
    padding-right:230px;
    margin: 0 auto;
    display:flex;
    align-items: center;
}
.logo{
    text-transform: uppercase;
    display:flex;
    align-items: center;
}
.main-logo-img{
    margin-right:13px;
}
.logo-link{
    display: flex;
    align-items: center;
    text-decoration:none;
    font-style: normal;
    text-align: center;
    color: #222222;
    font-size: 1.688rem;
    font-weight: 300;
}
.pink-d{
    color:pink;
}
.search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 38px;
}
.search *{
    height:inherit;
}
.search-form{
    width: 317px;
    height: 36px;
    padding:0;
    border: 0.063rem solid #e6e6e6;
    border-left: none;
    padding-left:13px;
}
.search-form:focus{
    outline-style: none;
}
.search-button{
    width: 36px;
    text-align: center;
    line-height: 36px;
    color:grey;
    border-radius: 0 0.188rem 0.188rem 0;
    border: 0.063rem solid #e6e6e6;
    background-color: #ffffff;
    border-left:none;
}
.search-button i:hover{
    font-weight: bold;
    cursor: pointer;
}
.search-button:focus{
    outline-style: none;
}
.search-dropdown{
    text-align: right;
    color: #222222;
    font-size: 0.875rem;
    font-weight: 300;
    border-radius: 0.188rem 0 0 0.188rem;
    border: 0.063rem solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    margin-left:37px;
}
.search-dropdown:focus{
    outline-style: none;
}
.account{
    display: flex;
}
.account-button{
    margin-left:26px;
    background-color: #f16d7f;
    border-style: none;
    width: 130px;
    height: 38px;
    color:white;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    font-size: 0.938rem;
    font-weight: 400;
    text-transform: capitalize;
}
.account-button:hover{
    box-shadow: 0 0.313rem 0.5rem rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.account-button i{
    margin-left: 8px;
}
.account-button:focus{
    outline-style:none;
}

.header-line{
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.17);
    border: 0.063rem solid #ececec;
    background-color: #ffffff;
}
.nav-wrapper{
    margin:0 auto;
    width:100%;
    height: 51px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.nav-list{
    padding:0;
    margin:0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-list-item{
    text-align: center;
    align-items:center;
}
.nav-link{
    text-decoration:none;
    display: block;
    margin-right:46px;
    text-align: center;
    line-height: 51px;
    text-transform: uppercase;
    text-align: left;
    color: #222222;
    font-size: 0.875rem;
    font-weight: 700;
}
.main-promo{
    display: flex;
    flex-basis: 100%;
    width: 100%;
    background-color:#e8e8e8;
    background-image: url("../img/main-promo.png");
    background-position: center;
    background-repeat: no-repeat;
}
.promo-wrapper{
    width:100%;
    margin:0 auto;
    height: 665px;
    display: flex;
    align-items: center;
}
.promo-header{
    margin:0;
    text-transform: uppercase;
    color: #222222;
    font-size: 2.5rem;
    font-weight: 400;
    font-weight: bold;
    border-left: 12px solid #f16d7f;
    line-height:  2.5rem;
    margin-left:242px;
}
.top-part{
    font-size: 3.75rem;
    letter-spacing: 0.094rem;
}
.pink-tail{
    color: #f16d7f;
    letter-spacing: 0.063rem;
}
.cat-wrapper{
    display: flex;
    justify-content: center;
    margin-top:98px;
}

.c-men,.c-kids{
    height: 492px;
    width: 560px;
    background-repeat:no-repeat;
}
.c-women,.c-accessories{
    width: 560px;
    height: 211px;
    background-repeat:no-repeat;
}
.c-accessories{
    background-image:url("../img/c-accessories.png");
    background-color:#dadad2;
}
.c-women{
    background-image:url("../img/c-woman.png");
}
.c-men{
    background-image:url("../img/c-man.png");
}
.c-kids{
    background-image:url("../img/c-kids.png");
}
.c-link{
    display: flex;
    padding-top:26px;
    text-decoration:none;
    color: #222222;
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
}
.c-link:nth-child(2n+1){
    margin-right:21px;
    margin-bottom:21px;
}
.cat-header{
    display: flex;
    height: 82px;
    flex-flow: column;
    flex-basis: 82px;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    padding-left:18px;
    padding-right:18px;

    font-weight: bolder;
    white-space: nowrap;
}
.cat-pink{
    color: #f16d7f;
    font-size: 1.875rem;
    letter-spacing: 0.047rem;
}
.main-cat-col-2,.main-cat-col-1{
    display: flex;
    flex-flow:column;
}
.feat-wrapper{
    height: 1100px;
    margin:0 auto;
    display: flex;
    flex-flow:column;
    align-items: center;
    margin-bottom:100px;
}
.feat-header{
    text-align: center;
    margin-top:100px;
}
.f-sub-header{
    color: #9f9f9f;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom:60px;
}
.f-main-header{
    margin:0;
    color: #222222;
    font-size: 1.875rem;
    font-weight: 700;
    line-height:54px;
}
.f-products{
    display: flex;
    flex-wrap:wrap;
    width: 1142px;
}
.f-product-link{
    text-decoration:none;
    margin-bottom:39px;
}
.f-product-link:hover{
    box-shadow: 0 0.313rem 0.5rem rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.f-product-link:not(:nth-child(4n)){
    margin-right:32px;
}
.f-product-header{
    text-align: left;
    color: #222222;
    font-size: 0.813rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-left:14px;
}
.p-price{
    color: #f16d7f;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-left:14px;
    margin-bottom:21px;
}
.pink-btn{
    display: inline-block;
    height: 48px;
    width: 212px;
    padding:0;
    border: none;
    background-color: #f16d7f;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.pink-btn:focus{
    outline-style:none;
}
.pink-btn:hover{
    box-shadow: 0 0.313rem 0.5rem rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.pink-btn i{
    margin-left:9px;
}
/* hw1 */
.main-d-wrapper{
    display: flex;
    justify-content:center;
    margin-bottom: 98px;
}
.d-1st-col{
    display: inline-block;
    width: 767px;
    height: 529px;
}
.women-d-image{
    z-index: -10;
    position: absolute;
}
.women-d-header{
    margin:0;
    color: white;
    padding-top:146px;
    padding-left:39px;

    text-align: left;
    color: #ffffff;
    font-size: 3.375rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.094rem;
    line-height: 2.5rem;
}
.dh-pink-part{
    color: #f16d7f;
}
.d-women-header-tail{
    font-size:2rem;
}

.d-2nd-col{
    width: 373px;
    display: flex;
    background-color:#222224;
    margin-right:43px;
}
.d-inner-col1,.d-inner-col2{
  display: flex;
  flex-flow:column;
}
.d-inner-col1{
    justify-content:space-around;
}
.d-inner-col2{
    justify-content:space-evenly;
}
.d-icons{
    margin-top:-75px;
    margin-right:36px;
    margin-left:36px;
}
.pros-content{
    text-align: left;
    color: #fbfbfb;
    font-size: 0.875rem;
    font-weight: 300;
    width: 219px;
    line-height: 24px;
}

.pros-header{
    text-align: left;
    color: #fbfbfb;
    font-size: 1.25rem;
    font-weight: 700;
}
.ms-wrapper{
    display:flex;
    justify-content:space-evenly;
    height: 438px;
    background-image:url("../img/Subscribe-bg.png");
    background:cover;
    background-repeat:no-repeat;
}
.s-left{
    display: flex;
    flex-flow:column;
    padding-top:111px;
}
.s-right{
    display: flex;
    flex-flow:column;
    align-self: center;
    justify-content:center;
}
.s-photo{
    display: block;
    float:left;
    margin-right:28px;
}
.s-message{
    /* flex-grow:1; */
    width: 497px;
    margin-bottom:0;
    /* margin-right:300px; */
    font-style: italic;
    text-align: left;
    color: #222224;
    font-size: 1rem;
    letter-spacing: 0.025rem;
}
.s-signature{
    margin-top:0;
    margin-left:111px;
}
.s-signature span{
    text-align: left;
    color: #f16d7f;
    font-size: 1rem;
    font-weight: 700;
}
.s-pagination{
    margin-left:111px;
    padding:0;
    list-style-type: none;
    display: flex;
}
.s-pag-link{
    display:inline-block;
    width: 38px;
    height: 4px;
    background-color:#d6d6d6;
    margin-right:13px;
}
.spg-active{
    background-color:#f16d7f;
}
.subscribe-header{
    text-align: center;
    color: #222224;
    font-size: 1.5rem;
    flex-grow:1;
    font-weight: 400;
    letter-spacing: normal;
    letter-spacing: 0.038rem;
    text-transform: uppercase;
    margin-top:0;

}
.subscribe-sub-header{
    text-align: center;
    color: #222224;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
}

.subscribe-field{
    width: 282px;
    height: 46px;
    border-radius: 1.438rem 0 0 1.438rem;
    background-color: #e1e1e1;
    padding:0;
    border:0;
    padding:0 28px;
}
.subscribe-field::placeholder{
    text-transform: capitalize;
    font-style: normal;
    text-align: left;
    opacity: 0.67;
    color: #222224;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.022rem;
}

.subscribe-btn{
    padding:0;
    border:0;
    width: 104px;
    border-radius: 0 1.438rem 1.438rem 0;
    background-color: #f16d7f;
    height: 46px;
    text-align: center;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.022rem;
}
.subscribe-btn:hover{
    cursor: pointer;
}
.main-footer{
    height: 458px;
    display: flex;
    margin-top:123px;
    margin-left:228px;
    justify-content:flex-start;

}
.f-nav{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
.f-brand-content{
    width: 427px;
    margin-top:45px;
    line-height: 24px;
    text-align: left;
    color: #898989;
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.022rem;
}
.company,.information,.shop-category{
    list-style-type: none;
    margin:0;
}
.f-link{
    text-decoration:none;
    text-align: right;
    color: #898989;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    line-height: 50px;
}
.sub-footer{
    height: 79px;
    background-color:#e6e6e6;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.f-copy{
    margin-left:238px;
    text-align: right;
    color: #7a7a7a;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
}

.f-header{
    text-align: right;
    color: #f16d7f;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.028rem;
    margin-bottom:45px;
    margin-top:0;
}
.f-pagination{
    list-style-type:none;;
    display: flex;
    margin-right:238px;
}
.f-pag-link{
    display: block;
    text-decoration:none;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    line-height: 32px;
    text-align: center;
    margin-right:8px;
    color: #b2b2b2;
}
.f-pag-link:hover{
    background-color: #f16d7f;
    color:white;
}

.link-disabled{
    pointer-events: none;
    opacity: 0.7;
    background: #CCC;
}
